// flex 布局
.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }
  &.nowrap {
    flex-wrap: nowrap;
  }
  &.reverse {
    flex-wrap: wrap-reverse;
  }

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.main {
    &-start {
      justify-content: flex-start;
    }
    &-center {
      justify-content: center;
    }
    &-end {
      justify-content: flex-end;
    }
    &-between {
      justify-content: space-between;
    }
    &-around {
      justify-content: space-around;
    }
    &-evenly {
      justify-content: space-evenly;
    }
    &-none {
      justify-content: unset;
    }
  }

  &.cross {
    &-start {
      align-items: flex-start;
    }
    &-center {
      align-items: center;
    }
    &-end {
      align-items: flex-end;
    }
    &-stretch {
      align-items: stretch;
    }
    &-baseline {
      align-items: baseline;
    }
    &-none {
      align-items: unset;
    }
  }

  .frozen {
    flex-shrink: 0;
  }
}

.flex-0 {
  flex: 0;
}

.expand,
.flex-1 {
  flex: 1;
}
